
header img{
    height: 100px;
}

#logo{
    float: left;
    margin-top: -35px;
}

nav a{
    font-size: 35px;
    text-decoration: none;
    letter-spacing: -1px;
    color: rgb(106, 190, 10);
    margin-left: 20px;
}

nav{
    text-align: left;
    margin-top: 50px;
}